<div class="container-fluid bggrey" (window:scroll)="onScroll($event)">
  <div *ngIf="loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div class="pbu-20-plr-30 contain" *ngIf="influencers">
    <div *ngFor="let inf of influencers">
      <div class="row white-card">
        <img src="{{inf.picture}}" class="col-3 circular" onerror="this.src='http://health.fiu.edu/_assets/images/providers/headshot-placeholder.png'" height='133px' width='150px'>
        <div class="col-6">
          <strong>{{inf.fullName}} - @{{inf.username}}</strong>
          <div class="desc text-justify">
            <a>
              {{inf.biography}}
            </a>
          </div>
          
        </div>
        <div class="col-3 text-center">
            <p class="mt-5 followers"><strong >{{abbrNum(inf.followerCount,2)}}</strong></p>
        </div>
        <div class="col-6 offset-3" >
          <span class="badge badge-primary mx-1" *ngFor="let tag of inf.stats.interests"> {{tag}} </span>&nbsp;
        </div>
      </div>
    </div>
    <div id="end" class="text-center" (click)="loadMore(influencers[influencers.length-1].id)"><button>Load more</button></div>
  </div>
</div>




<router-outlet></router-outlet>